html, body { 
  background: white;
  padding: 0;
  margin: 0;
}

.content {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
  background: white;
  text-shadow: 0 0 5px black;
  color: #eee;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 0 5px #888;
  padding: 1em;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  background: #ddd;
  text-decoration: none;
}
