---
---

html, body { 
  margin: 0;
  padding: 0;
  background: white;
  font-family: Georgia, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 0px;
  height: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .upper { 
  font-family: 'Droid Serif'; 
  font-style: normal; 
  font-weight: normal; 
}

h1, h2, .upper {
  font-size: 1.2em;
  line-height: 1em;
}

h1, .upper {
  display: block;
  text-align: center;
  background: #ffa500;
  text-shadow: 0 0 5px #000;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 1em;
  margin: 0;
}

h2.front, h2.post {
  display: block;
  text-align: center;
  background: #080;
  text-shadow: 0 0 3px #000;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 1em;
  margin: 0;
}

h2.post {
  margin-bottom: 2em;
}

h2 {
  font-size: 1.1em;
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  padding-top: 0;
  min-height: 100%;
}

#header {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #fff;
}

#header h2 {
  text-align: right;
  font-style: italic;
  margin: 0;
}

#footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

#content { 
  padding-top: 0;
  margin-top: 0;
}

.logo {
  display: block;
  height: 82px;
}

ul.index, ul.menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px; 
}

div.main-menu { 
  text-align: left;
  padding-left: 10px;
  background: #eee;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding-top: 5px;
}

div.main-menu ul { 
  float: right;
  padding-left: 10px;
}

div.main-menu img { 
  float: left;
  margin-right: 15px;
  border-radius: 20px;
}

ul.index li {
}

ul.index li a {
  display: block;
  max-width: 400px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: #000;
}

ul.index li a.draft {
  background: #888;
}

ul.index li a:hover {
  background: #000;
}

ul.menu li {
  display: inline-block;
  font-family: 'Droid Serif'; 
}

ul.menu li a {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  margin-left: 0;
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
  background: #000;
}

ul.menu li a:hover {
  background: #040;
}

#header a {
  color: #fff !important;
}

h2 a, .upper a { 
  color: #fff !important;
}

#footer a {
  color: #fff !important;
}

img.show {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.show100 {
  display: block;
  width: 100%;
  margin: 0 auto;
}

p.show100 {
  font-style: italic;
  background: #eee;
  text-align: center;
  width: 80%;
  min-width: 200px;
}


.edit {
  text-align: right;
  font-style: italic;
}

.edit a {
  color: #888;
}

.draft-alert { 
  padding: 20px;
  margin: 20px;
  background: #888;
  color: #fff;
  border-radius: 20px;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif; 
  text-shadow: 0px 0px 5px black;
}

.changes, .section, .field-name-body {
  background: #fff;
  padding: 10px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.author {
  text-align: right;
  font-style: italic;
}

.intro p, .intro h2 {
  padding-left: 20px;
}

.intro img {
  padding-top: 5px;
  clear: both;
  float: left;
  margin: 10px; 
  border: 0px;
  width: 50px;
}

.join {
  background: #050 !important;
}

.wherewhen {
  font-style: italic;
  color: #888;
}

.front-post { 
  padding-bottom: 4em;
}

p.figure, p.scale-image { 
  text-align: center;
}

p.figure img, p.max-image img, p.scale-image img {
  box-shadow: 5px 5px 2px #888;
}

p.fig509 img { 
  width: 100%;
  max-width: 509px;
}

p.max-image img {
  width: 100%;
}

p.scale-image img {
  max-width: 700px;
  width: 100%;
}

.post-date { 
  font-size: 50%;
  padding-left: 20px;
}

.clearer {
  clear: both;
}

.intro {
  padding-bottom: 10px;
  color: #444;
}

#tail {
  margin-top: 2em;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #aaa;
  text-align: center;
}

#tail ul.menu li a {
  background: #777;
}


#tail p {
  font-size: 200%;
  color: #fff;
}

#tail a {
  color: #fff;
}

pre { 
  background: #cfc;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
}

.datey { 
  color: #0a0;
}

ul ul li { 
  list-style: none;
}

ul ul li { 
  color: #666;
  padding: 4px;
  border-left: 1px solid #888;
}

ul li { 
  padding-bottom: 1em;
}