<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>{{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular&amp;subset=latin" media="all" />
<link type="text/css" rel="stylesheet" href="/style/main.css" media="all" />
<link rel="stylesheet" type="text/css" href="/style/big.css" media="screen and (min-width: 512px)" />
<link rel="stylesheet" type="text/css" href="/style/small.css" media="screen and (max-width: 320px)" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="Paul Fitzpatrick" href="/rss.xml" />
</head>
<body>
<div id="wrapper">

  <div id="header">
    <h1><a href="/">{{page.title}}</a></h1>
  </div>

  <div id="content">
    {{content}}
  </div>

</div>

<div id="tail">
<a href="https://twitter.com/fitzyfitzyfitzy">@fitzyfitzyfitzy</a>
</div>
  

</body>
</html>

